body{
	background-color: #111111;
	margin: 0px;
}

#navbar{
	list-style-type: none;
	background-color: #1D263B;
	margin:0;
	padding:0;
	overflow: hidden;
}
.nav-right{
	float:right;
}
li{
	float:left;

}
.nav-link #login{
	float:right;
}
.nav-link{
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 20px 22px;
	background-color: #1D263B;
	vertical-align: center;
	float: right;
}

a:hover{
	color: #62E4D3;
	background-color: #021927;
}

.nav-link #login{
	float:right;
	color: #021927;
}

#title{
	color:white;
	padding-left: 15px;
	padding-right: 15px;
}

.footer{
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	text-align: center;
}
.event_frame_l	{
	background-color: #1D263B;
	float:left;
	width: 42.5%;
	max-height: 25%;
	overflow-y: auto;
}

.event_frame_r	{
	background-color: #1D263B;
	float:right;
	width: 42.5%;
	padding-top: 25%;
}

p{
	color: white;
}
h1{
	color:white;
}
h2{
	color:white;
}
.public_event{
	background-color: #1D263B;

}

.event_info{
	list-style-type: none;
}
.info{
	padding-left: 5px;
}
