body{
	background-color: #111111;
	margin: 0px;
	background-color: #121212
}

#navbar{
	list-style-type: none;
	background-color: #323232;
	margin:0;
	padding:0;
	overflow: hidden;
}
.nav-right{
	float:right;
}
li{
	float:left;

}
.nav-link #login{
	float:right;
}
.nav-link{
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 20px 22px;
	background-color: #323232;
	vertical-align: center;
	float: right;
}

a:hover{
	color: #00FF00;
	background-color: #3F3F3F;
}

.nav-link #login{
	float:right;
	color: #021927;
}

#title{
	color:white;
	padding-left: 15px;
	padding-right: 15px;
}

.footer{
	background-color: #323232
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	text-align: center;
}
.event_frame_l	{
	background-image: linear-gradient( to bottom, #323232, #505050);
	flex:50%;
	border-radius: 15px;
	padding-left: 15px;
	height: 88vh;
	padding-right: 15px;
	overflow-y: auto;
}

.hover_header{
	position:static;
}

.container{
	background-color: #323232;
	flex:50%;
	border-radius: 15px;
	padding-left: 15px;
	height: 88vh;
	padding-right: 15px;
}

.container_gradient{
	background-image: linear-gradient( to bottom, #323232, #505050);
	flex:50%;
	border-radius: 15px;
	padding-left: 15px;
	height: 50vh;
	padding-right: 15px;
}

#new_event_form{
	flex:50%;
	border-radius: 15px;
	padding-left: 15px;
	background-image: linear-gradient( to bottom, #323232, #505050);
	padding-right: 15px;
}

.event_frame_r	{
	background-image: linear-gradient( to bottom, #323232, #505050);
	flex:50%;
	border-radius:15px;
	padding-left: 15px;
	padding-right: 15px;
	overflow-y: auto;
}

.frame_gradient{
	background-image: linear-gradient( to bottom, #323232, #505050);
	flex:100%;
	border-radius:15px;
	padding-left: 15px;
	padding-right: 15px;
}

.frame{
	background-color: #323232;
	flex:50%;
	border-radius:15px;
	padding-left: 15px;
	padding-right: 15px;
}

.spacer{
	width: 2%;
}

#line{
	border-left: 6px #00FF00;
	height: 1000%
}

p{
	color: white;
}
h1{
	color:#00FF00;
}
h2{
	color:#11FF11;
}

h3{
	color:white;
}
.public_event{
	background-color: #454545;
	border-radius: 8px;
	padding:15px;
	box-shadow: 5px 5px #121212;

}

.row{
	display: flex;
	float:left
	width:50%;
	height: 90%;
}

.event_list{
	display: inline;
	float: left;
	list-style-type: none;

}

.event_list li{
	padding: 15px;
}

.event_info{
	list-style-type: none;
	display: inline-block;
}
.info{
	padding-left: 20px;
}

.login_box{
    color: white;
    text-align: center;
    padding: 10% 40%;
}

button{
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
     border-radius: 3px;
}

.profile_pic{
    float: left;
    margin: 5% 15%;
}

.profile_info{
    margin: 5% 5%;
    background-image: linear-gradient( to bottom, #323232, #505050);
	flex:5%;
	border-radius: 15px;
	padding-left: 15px;
	height: 50vh;
	width: 50vh;
	padding-right: 15px;
	list-style-type: none;
}

.profile_grid{
    display:inline-grid;
}

.profile_events{
	background-image: linear-gradient( to bottom, #323232, #505050);
	flex:50%;
	border-radius: 15px;
	padding-left: 15px;
	height: 68vh;
	width: 88vh;
	padding-right: 15px;
}

.profile_friend{
    background-color: #454545;
	border-radius: 8px;
	padding:15px;
	box-shadow: 5px 5px #121212;
	margin: 10px;
	height: 10vh;
	width: 40vh;
}

.form-field{
	color:white;
}
