body{
	background-color: #111111;
	margin: 0px;
}

ul{
	list-style-type: none;
	background-color: #1D263B;
	margin:0;
	padding:0;
	overflow: hidden;

}

li{
	float:left;

}
.nav-link #login{
	float:right;
}
.nav-link{
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 20px 22px;
	background-color: #1D263B;
	vertical-align: center;
	float: right;
}

a:hover{
	color: #62E4D3;
	background-color: #021927;
}

.nav-link #login{
	float:right;
	color: #021927;
}

#title{
	color:white;
	padding-left: 15px;
	padding-right: 15px;
}
