<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>{{event.name}}</title>
        <link rel="stylesheet" href="..\static\css\main.css">
        <nav>
          <ul id="navbar">
            <li><h1 id="title"> Event Melon</h1></li>
            <li><a class="nav-link" href="/index"> Home </a></li>
            <li><a class="nav-link"  href="/events"> Events </a></li>
            <li><a class="nav-link"  href="/events/new"> New Event </a></li>
            <li><a class="nav-link"  href="/profile"> Profile </a></li>
            <li><a class="nav-link" id="login"  href="/login"> Login </a></li>
            <h1> { event.title}</h1>
            <p> Host: { event.host } </p>
            <p> About: { event.description }</p>
            <form action="join" method='post'>
              <button>Join Event</button>
            </form>
          </ul>
        </nav>

    </head>
    <body>



    </body>
</html>
