<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <nav>
        <ul id="navbar">
          <li><a class="nav-link" href="/index"> Home </a></li>
          <li><a class="nav-link"  href="/events"> Events </a></li>
          <li><a class="nav-link"  href="/events/new"> New Event </a></li>
            {% if session['user'] %}
            <!-- Logged in -->
            <div class="nav-right">
            <li><a class="nav-link" id="login"  href="/logout"> Logout </a></li>
            </div>
            {% else %}
            <!-- Not Logged in -->
            <div class="nav-right">
            <li><a class="nav-link" id="login"  href="/login"> Login </a></li>
            </div>
            {% endif %}
        </ul>
      </nav>

    <h1>Welcome to the 49er Notes App!</h1>

    <h2>Use this site to maintain and organize your notes.</h2>
    <div class="formwrapper">
        <h2 class="title">Register</h2>
        <form method="POST" action="/register">
            <div class="form-field">{{ form.firstname.label }} {{ form.firstname }}
                {% if form.firstname.errors %}
                <ul class="errors">
                    {% for error in form.firstname.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.lastname.label }} {{ form.lastname }}
                {% if form.lastname.errors %}
                <ul class="errors">
                    {% for error in form.lastname.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.email.label }} {{ form.email }}
                {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.password.label }} {{ form.password }}
                {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
                {% if form.confirmPassword.errors %}
                <ul class="errors">
                    {% for error in form.confirmPassword.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {{ form.submit }}
        </form>

    </div>
</body>

</html>
